[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/box2d"]
	path = extern/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/openal-soft"]
	path = extern/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://github.com/freetype/freetype.git
[submodule "extern/FreeGLUT"]
	path = extern/FreeGLUT
	url = https://github.com/dcnieho/FreeGLUT.git
[submodule "extern/AudioFile"]
	path = extern/AudioFile
	url = https://github.com/adamstark/AudioFile.git
[submodule "extern/Chipmunk2D"]
	path = extern/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D.git
